.hidden { 
    display: none;
}
.center{
    text-align: center;
}
/* #clock{
    
}
#user-name{
    
}
#user-info{
    
}
#login-form{
   
} */
img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:83%;
}
